# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Web
web/.dart_tool/
web/build/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/debug/
android/app/release/
android/app/profile/
*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/GeneratedPluginRegistrant.*
ios/Podfile.lock

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock
macos/Runner.xcworkspace/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# IDEs & Editors
.idea/
.vscode/
*.iml

# Others
*.lock
*.log
*.DS_Store
*.swp
